{
  "github": {
    "authentication": {
      "type": "token",
      "token": "token-value"
    },
    "fromRepo": "events",
    "fromLabels": ["approved"],
    "owner": "swedishtechevents",
    "toRepo": "swedishtechevents.com",
    "files": {
      "events": "api/events.json"
      "rss": "rss.xml"
    }
  },
  "meetup": {
    "token": "api-key",
    "exclude": ["urlname-of-group"],
    "country": "SE",
    "category": 34
  },
  "eventbrite": {
    "token": "",
    "category": 102,
    "country": "Sweden",
    "timezone": "Europe/Stockholm"
  }
}
