{
  "owner": "owner",
  "fromRepo": "fetch issues from repo",
  "fromLabels": [],
  "toRepo": "repo to update",
  "file": "file/to/update/on/toRepo.json",
  "authentication": {
    "type": "token",
    "token": "token-value"
  }
}
