{
  "github": {
    "authentication": {
      "type": "token",
      "token": "token-value"
    },
    "fromRepo": "events",
    "fromLabels": ["approved"],
    "file": "api/events.json",
    "owner": "swedishtechevents",
    "toRepo": "swedishtechevents.com"
  },
  "meetup": {
    "token": "api-key",
    "exclude": ["urlname-of-group"],
    "country": "SE",
    "category": 34
  },
  "eventbrite": {
    "token": "",
    "category": 102,
    "country": "Sweden",
    "timezone": "Europe/Stockholm"
  },
  "twitter": {
    "consumer_key": "",
    "consumer_secret": "",
    "access_token_key": "",
    "access_token_secret": ""
  }
}
